<div class="main-container mb-3" style="margin-top: 4rem;">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Coupon
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/admin/coupon" method="post">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Coupon Name</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" name="Couponname"
                                placeholder="Coupon Name">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Code</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" name="Couponcode"
                                placeholder="Code">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Description</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" name="Coupondescription"
                                placeholder="Description">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Discount</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" name="Coupondiscount"
                                placeholder="Discount">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <div style="margin-top: 60px;">
        <table class="table border" id="couponid">
            <thead>
                <tr>
                    <th scope="col">Coupon Name</th>
                    <th scope="col">Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each allcoupons}}
                <tr>
                    <td>{{this.Couponname}}</td>
                    <td>{{this.Couponcode}}</td>
                    <td>{{this.Coupondescription}}</td>
                    <td>{{this.Coupondiscount}}</td>


                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{this._id}}">
                            Edit
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">EDIT</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/admin/editcoupon/{{this._id}}" method="post">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Coupon Name</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput"
                                                    name="Couponname" placeholder="Coupon Name"
                                                    value="{{this.Couponname}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="formGroupExampleInput2">Code</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput2"
                                                    name="Couponcode" placeholder="Code" value="{{this.Couponcode}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="formGroupExampleInput2">Description</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput2"
                                                    name="Coupondescription" placeholder="Description"
                                                    value="{{this.Coupondescription}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="formGroupExampleInput2">Discount</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput2"
                                                    name="Coupondiscount" placeholder="Discount"
                                                    value="{{this.Coupondiscount}}">
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td>
                        <!--  Delete Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModalCenter">
                            Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h2>Are You Sure</h2>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button style="border: none;"><a href="/admin/deletecoupon/{{this._id}}"
                                                class="btn btn-danger">Delete</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#couponid').DataTable();
    });
</script>