<div class="main-container card shadow-lg"  style="margin-top: 4rem;">
    <table class="table border" id="usertable">
        <thead>
            <tr>
                <th scope="col">NAME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">MOBILE</th>
                <th scope="col">STATUS</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.Fname}}</td>
                <td>{{this.Email}}</td>
                <td>{{this.Mobile}}</td>
                {{#if this.status}}
                <td><button onclick="active('{{this._id}}')" class="btn btn-success active"
                        id="user-active">Active</button>

                </td>
                <td><a href="/admin/change-status/{{this._id}}" class="confirm btn btn-danger ms-2" style="display:none"
                        id="{{this._id}}">Block?</a></td>
                {{else}}
                <td><button onclick="active('{{this._id}}')" class="btn btn-danger active"
                        id="user-inactive">Blocked</button>

                </td>
                <td><a href="/admin/change-status/{{this._id}}" class="confirm btn btn-success ms-2"
                        style="display:none" id="{{this._id}}">Reactivate?</a></td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<script>
      $(document).ready(function () {
        $('#usertable').DataTable();
    });
</script>


<script>
    // var elems = document.getElementsByClassName('confirm');
    // var confirmIt = function (e) {
    //  if (!confirm('Are you sure?')) e.preventDefault();
    //};
    //for (var i = 0, l = elems.length; i < l; i++) {
    //    elems[i].addEventListener('click', confirmIt, false);
    //}

    function active(id) {
        if (document.getElementById(id).style.display == 'none') {
            document.getElementById(id).style.display = '';
        } else {
            document.getElementById(id).style.display = 'none';
        }

    }
</script>