{{!-- <p>Add Products Starts Here......</p> --}}


{{!-- <p>modal starts here........</p> --}}

<div class="main-container mb-3" style="margin-top: 4rem;">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
    AddProduct
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">AddProduct</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/admin/products/addproduct" method="post" enctype="multipart/form-data" id="AddNewProductForm">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="exampleInputName1">Name</label>
                <input type="text" class="form-control" id="exampleInputName1" name="Name" aria-describedby="emailHelp"
                  placeholder="Product Name">

              </div>
              <div class="form-group col-md-6">
                <label for="exampleInputStock1">Stock</label>
                <input type="text" class="form-control" id="exampleInputStock1" name="Stock" placeholder="Stock">
              </div>
              <div class="form-group col-md-6">
                <label for="exampleInputPrice">Price</label>
                <input type="number" class="form-control" name="Price" id="exampleInputPrice" placeholder="Price">
              </div>

              <div class="form-group col-md-6">
                <label for="exampleInputDiscount">Discount Price</label>
                <input type="number" class="form-control" id="exampleInputDiscount" name="DiscountedPrice"
                  placeholder="DiscountPrice">
              </div>


              <div class="form-group col-md-6">
                <label for="exampleInputCategory">Category</label>

                <select name="Category" class="form-control" id="CategoryId">
                  {{#each category}}
                  <option value="{{this._id}}">{{this.CategoryName}}</option>
                  {{/each}}
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="exampleInputDescription">Description</label>
                <input type="text" class="form-control" id="exampleInputDescription" name="Description"
                  placeholder="Description">
              </div>

              <div class="form-group col-md-12">
                <label for="exampleInputproductImage">Image</label>
                <input type="file" class="form-control" id="exampleInputproductImage" name="Image"
                  placeholder="Choose Image">
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- <p>modal ends here........</p> --}}





<div class="main-container row">
  <div class="col-md-12 col-sm-6 ">
    <table class="table border" id="adminProductTable">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Stock</th>
          <th scope="col">Price</th>
          <th scope="col">Discount-Price</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Image</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>

      </thead>
      <tbody>
        {{#each allproducts}}
        <tr>
          <td>{{this.Name}}</td>
          <td>{{this.Stock}}</td>
          <td>{{this.Price}}</td>
          <td>{{this.DiscountedPrice}}</td>
          <td>{{this.Category.CategoryName}}</td>
          <td>{{this.Description}}</td>
          <td><img src="/product-images/{{this._id}}.jpg" alt="" width="100"></td>
          <td>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
              data-bs-target="#exampleModal{{this._id}}">
              Edit
            </button>
            <!--Edit Banner Modal -->
            <div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header ">
                    <h5 class="modal-title " id="exampleModalLabel" style="text-align: center;">Category
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/admin/editproduct/{{this._id}}" method="post" enctype="multipart/form-data" class="EditProductForm" >

                      <div class="form-group w-60   ">
                        <label for="exampleInput1">Name</label>
                        <input type="text" class="form-control" id="exampleInput1" name="Name"
                          value="{{this.Name}}" aria-describedby="emailHelp" placeholder="Product Name">
                      </div>
                      <div class="form-group w-60  ">
                        <label for="exampleInput2">Stock</label>
                        <input type="text" class="form-control" id="exampleInput2" name="Stock"
                          value="{{this.Stock}}" placeholder="Stock">
                      </div>

                      <div class="form-group w-60 ">
                        <label for="exampleInput3">Price</label>
                        <input type="number" class="form-control" name="Price" value="{{this.Price}}"
                          id="exampleInput3" placeholder="Price">
                      </div>

                      <div class="form-group w-60  ">
                        <label for="exampleInput4">Discount Price</label>
                        <input type="number" class="form-control" id="exampleInput4" name="DiscountedPrice"
                          value="{{this.DiscountedPrice}}" placeholder="DiscountPrice">
                      </div>


                      <div class="form-group">
                        <label for="exampleInput5">Category</label>

                        <select name="Category" class="form-control" id="category">
                          {{#each ../category}}
                          <option value="{{this._id}}">{{this.CategoryName}}</option>
                          {{/each}}
                        </select>
                      </div>

                      <div class="form-group w-60  ">
                        <label for="exampleInput6">Description</label>
                        <input type="text" class="form-control" id="exampleInput7" name="Description"
                          value="{{this.Description}}" placeholder="Description">
                      </div>

                      <div class="form-group w-60  ">
                        <label for="exampleInput8">Image</label>
                        <img src="/product-images/{{this._id}}.jpg" alt="" style="width: 100px; height: auto;"
                          id="imageView">
                        <input type="file" class="form-control" id="exampleInput8" name="Image" value=""
                          placeholder="Choose Image" onchange="viewimage(event)">
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </td>

          <td>
            <!--  Delete Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalCenter{{this._id}}">
              Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter{{this._id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <h2>Are You Sure</h2>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button style="border: none;"><a href="/admin/delete-product/{{this._id}}"
                        class="btn btn-danger">Delete</a></button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>



<script>
  $(document).ready(function () {
    $('#adminProductTable').DataTable();
  });
</script>

<script>
    function viewimage(event) {
        document.getElementById('imageView').src = URL.createObjectURL(event.target.files[0])
    }
</script>


{{!-- <p>Add Products End Here......</p> --}}
<style>
    label.error {
        color: red;
        border: 1px solid red;
    }
</style>

<script>
  $(document).ready(function () {
        $("#AddNewProductForm").validate({
            rules: {
                Name: {
                    required: true,
                },
                Stock: {
                    required: true,
                },
                Price: {
                    required: true,
                },
                DiscountedPrice: {
                    required: true,
                },
                Category: {
                    required: true,
                },
                Description: {
                    required: true,
                },
                Image: {
                    required: true,
                }
            }
        });
    });


    $('.EditProductForm').each(function () {
        $(this).validate({
            rules: {
                Name: {
                    required: true,
                },
                Stock: {
                    required: true,
                },
                Price: {
                    required: true,
                },
                DiscountedPrice: {
                    required: true,
                },
                Category: {
                    required: true,
                },
                Description: {
                    required: true,
                },
                Image: {
                    required: true,
                }
            }
        });
    });
</script>


