<div class="row">
    <div class="col-md-3" style="margin-top: 9rem; padding: 3rem; ">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
            Add New Address
        </button>

        <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class=" mx-auto border p-5 mt-5" action="/address" method="post"
                                enctype="multipart/form-data" id="addressForm">
                                <h4 class="font-weight-semi-bold mb-4">Add New Address</h4>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>Name</label>
                                        <input class="form-control" type="text" name="name" id="name">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Mobile No</label>
                                        <input class="form-control" type="text" name="number" id="number">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Address Line 1</label>
                                        <input class="form-control" type="text" name="address1" id="address1">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Address Line 2</label>
                                        <input class="form-control" type="text" name="address2" id="address2">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>District</label>
                                        <input class="form-control" type="text" name="district" id="district">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>State</label>
                                        <input class="form-control" type="text" name="state" id="state">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Country</label>
                                        <input class="form-control" type="text" name="country" id="country">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>PIN Code</label>
                                        <input class="form-control" type="number" name="pincode" id="pinCode">
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <div class="col mt-5">
                                    <button type="submit" class="btn btn-primary btn-block col-4 mx-auto">Add
                                        Address</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="col-md-9 row" style="margin-top: 9rem;">
        {{#each address}}
        <div class="card col-3" style="width: 18rem; margin-left: 1rem;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{this.name}}</h6>
                <p class="card-text">{{this.number}}</p>
                <p class="card-text">{{this.address1}}</p>
                <p class="card-text">{{this.address2}}</p>
                <p class="card-text">{{this.district}} , <span>{{this.state}}</span></p>
                <p class="card-text">{{this.country}}</p>
                <p class="card-text">{{this.pincode}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>