<!-- Cart Start -->
<div class="container-fluid pt-5">
    {{#if cartempty}}
    <div class="card-header bg-secondary border-0 d-flex justify-content-center">
        <h4 class="font-weight-semi-bold m-0 justify-content-center">YOUR CART IS EMPTY</h4>
    </div>
    {{else}}
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0" id="carttable">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Products</th>
                        <th>Photo</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">

                    {{#each cart.cartItems}}
                    <tr>
                        <td class="align-middle">{{this.product.Name}}</td>
                        <td><img src="/product-images/{{this.product._id}}.jpg" alt="" style="height:5rem ;"></td>
                        <td class="align-middle">{{this.product.Price}}</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button onclick="quantityMinus('{{this.product._id}}')"
                                        id="minus{{this.product._id}}" class="btn btn-sm btn-primary btn-minus">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text"
                                    class="form-control form-control-sm bg-secondary text-center qntvalue"
                                    id="{{this.product._id}}" value="{{this.quantity}}" disabled>
                                <div class="input-group-btn">
                                    <button onclick="quantityPlus('{{this.product._id}}')"
                                        class="btn btn-sm btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">Rs.<span id="{{this.product._id}}total">{{subTotal this.quantity
                                this.product.Price}}</span></td>

                        <td class="align-middle"><button data-toggle="modal" data-target="#exampleModal"
                                class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h2>Are You Sure</h2>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <a href="/delete-cart/{{this.product._id}}"
                                                class="btn btn-primary">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <div class="mb-5 input-group">
                <input type="text" class="form-control p-4" placeholder="Coupon Code" id="couponCode">
                <div class="input-group-append">
                    <button class="btn btn-primary" onclick="applyCoupon()">Apply Coupon</button>
                </div>
            </div>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium">Rs.<span id="subtotal">{{totalamount.total}}</span>
                        </h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Coupon Discount</h6>
                        <h6 class=" font-weight-medium">Rs.<span id="coupondiscount">0</span></h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Delivery Charge</h6>
                        <h6 class=" font-weight-medium">Rs.<span id="shipping">{{totalamount.shipping}}</span></h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">Rs.<span id="GrandTotal">{{totalamount.grandtotal}}</span></h5>
                    </div>
                    <a href="/checkout" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</a>
                </div>
            </div>
        </div>
    </div>

    {{/if}}
</div>


<script>
    const quantityPlus = async (id) => {
        try {
            const res = await axios.post(`/quantityPlus/${id}`, {
            }).then((e) => {
                console.log(id)
                document.getElementById(id).value = e.data.response.count
                window.location.reload()
            })
        } catch (err) {
            console.error(err)
        }
    }

    const quantityMinus = async (id) => {
        try {
            const res = await axios.post(`/quantityMinus/${id}`, {
            }).then((e) => {
                console.log(id)
                if (e.data.response.count === 0) {
                    swal('Item Deleted', '', 'warning')
                    setTimeout(() => {
                        window.location.reload()
                    }, 800);
                } else {
                    document.getElementById(id).value = e.data.response.count
                    window.location.reload()
                }
            })
        } catch (err) {
            console.log(err)
        }
    }


    const applyCoupon = async () => {
        let code = document.getElementById('couponCode').value
        if (code == "") {
            swal('Invalid Coupon !', "", 'warning')
        } else {
            try {
                const res = axios.post('/applycoupon',
                    { couponCode: code }).then((e) => {
                        console.log(e.data.response)
                        if (!e.data.response.status) {
                            swal('Invalid Coupon', '', 'warning')
                        } else {
                            document.getElementById('coupondiscount').innerHTML = e.data.response.discount
                            document.getElementById('GrandTotal').innerHTML = e.data.response.grandtotal
                            swal('Coupon added Successfully', '', 'success')
                        }
                    })
            } catch (err) {
                console.log(err)
            }
        }
    }
</script>


<!--================End Cart Area =================-->