<style type="text/css">
    .drift-demo-trigger {
        width: 40%;
    }


    @media (max-width: 900px) {


        .detail,
        .drift-demo-trigger {
            float: none;
        }

        .drift-demo-trigger {
            max-width: 100%;
            width: auto;
            margin: 0 auto;
        }

        .detail {
            margin: 0;
            width: auto;
        }

        .responsive-hint {
            display: none;
        }

        .drift-bounding-box {
            display: none;
        }
    }
</style>

<!-- Shop Detail Start -->
<div class="container-fluid py-5 px-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border"
                    style="height:28rem ;display: flex;align-items:center ;object-fit: contain; ">
                    <div class="carousel-item active">
                        <img class="w-100 h-100 drift-demo-trigger" src="/product-images/{{product._id}}.jpg"
                            data-zoom="/product-images/{{product._id}}.jpg" alt="Image">
                    </div>
                    <div class="carousel-item">
                        <img class="w-100 h-100 drift-demo-trigger" src="/product-images/{{product._id}}.jpg"
                            data-zoom="/product-images/{{product._id}}.jpg" alt="Image">
                    </div>
                    <div class="carousel-item">
                        <img class="w-100 h-100 drift-demo-trigger" src="/product-images/{{product._id}}.jpg"
                            data-zoom="/product-images/{{product._id}}.jpg" alt="Image">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 pb-5 align-middle">
            <div class=" detail">
                <div class="d-flex">
                    <div>
                        <h3 class="font-weight-semi-bold">{{product.Name}}</h3>
                    </div>
                    <div class="ml-3">
                        {{#if session}}
                        <button onclick="addWishlist('{{product._id}}')" class="btn border" name="wish">
                            <i class="fas fa-heart" id="wishicon{{product._id}}" style="color:darkgray"></i>
                        </button>
                        {{else}}
                        <button class="btn border">
                            <a href="/login"><i class="fas fa-heart" id="wishicon{{product._id}}"
                                    style="color:darkgray"></i></a>
                        </button>
                        {{/if}}
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                    <small class="pt-1">(50 Reviews)</small>
                </div>
                <h3 class="font-weight-semi-bold mb-4">Rs.{{product.DiscountedPrice}}</h3>
                <h6 class="text-muted ml-2"><del>Rs.{{product.Price}}</del></h6>
                <p class="mb-4">{{product.Description}}</p>
                <h5>{{product.Category.CategoryName}}</h5>
                <input type="text" id="productid" value="{{product._id}}" style="display: none;">
                <p class="mb-4"></p>
                <div class="d-flex align-items-center mb-4 pt-2">
                    {{#if session}}
                    <button class="btn btn-primary px-3" onclick="addToCart('{{product._id}}')"><i
                            class="fa fa-shopping-cart mr-1"></i> Add To
                        Cart</button>
                    {{else}}
                    <a href="/login" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i>Add To
                        Cart</a>
                    {{/if}}
                </div>
                <div class="d-flex pt-2">
                    <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->


{{!--
<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">You May Also Like</span></h2>
    </div>

    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                {{#each allproducts}}
                <div class="card product-item border-0">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="/product-images/{{this._id}}.jpg" alt=""
                            style="height: 20rem;">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{this.Name}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>Rs.{{this.Price}}</h6>
                            <h6 class="text-muted ml-2"><del>Rs.{{this.discountPrice}}</del></h6>
                        </div>
                    </div>
                    <input type="text" style="display:none ;" id="product-id" value="{{this._id}}">
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View
                            Detail</a>
                        <a href="" class="btn btn-sm text-dark p-0"><i
                                class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<!-- Products End --> --}}

<script src="/javascripts/Drift.js"></script>

<script>
    const addToCart = async (id) => {
        console.log(id)
        const res = await axios.post(`/addToCart/${id}`, {
        }).then((e) => {
            console.log(e)
            if (e.data.response.inc) {
                swal('Item added to the cart', '', 'success')
            } else {
                let count = document.getElementById('cart-count').innerHTML
                count = parseInt(count) + 1
                document.getElementById('cart-count').innerHTML = count
                swal('Item added to the cart', '', 'success')

            }
        })
    }


    const addWishlist = async (id) => {
        console.log(id)
        const response = await axios.post(`/wishlist/${id}`, {
        }).then((e) => {
            console.log(e.data.response)
            let count = parseInt(document.getElementById('wishlist-count').innerHTML)
            if (e.data.response.added) {
                document.getElementById('wishlist-count').innerHTML = parseInt(document.getElementById('wishlist-count').innerHTML) + 1
                document.getElementById("wishicon" + id).style.color = '#ff052b'
                swal('Item added to Wishlist', "", 'success')
            } else {
                document.getElementById('wishlist-count').innerHTML = parseInt(document.getElementById('wishlist-count').innerHTML) - 1
                document.getElementById('wishicon' + id).style.color = '#b3abac'
                swal('Item removed from wishlist', "", 'error')
            }
        })
    }
</script>

<script>
    let driftImgs = document.querySelectorAll('.drift-demo-trigger');
    let pane = document.querySelector('.detail');
    for (let i = 0; i < driftImgs.length; i++) {
        new Drift(driftImgs[i], {

            paneContainer: pane,
            inlinePane: false
        })
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', myWishlist, false)
    function myWishlist(evt) {
        let productId = document.getElementById('productid').value
        axios.get(`/checkWishlist/${productId}`, {}).then((e) => {
            console.log(e.data)
            if (e.data.wishlist) {
                document.getElementById("wishicon" + productId).style.color = '#ff052b'
            } else {
                document.getElementById('wishicon' + productId).style.color = '#b3abac'
            }
        })
    }
</script>