<!-- Navbar Start -->
<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-12">
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {{#each allbanner}}
                    <div class="carousel-item{{#if @first}} active{{/if}}" style="height: 410px;">
                        <img class="img-fluid" src="product-images/{{this._id}}.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-light text-uppercase font-weight-medium mb-3">{{this.Heading}}</h4>
                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">{{this.Description}}</h3>
                                <a href="/productdetails/{{this.Product}}" class="btn btn-light py-2 px-3">Buy Now</a> 
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-next-icon mb-n2"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Navbar End -->


<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping Above Rs.1000 </h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->

<!-- Categories Start -->
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Categories</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                {{#each category}}
                <div class="card product-item border-0 shadow">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <a href="" class="cat-img position-relative overflow-hidden mb-3">
                           <a href="/allproducts"><img class="img-fluid w-100" src="product-images/{{this._id}}.jpg" alt=""
                                style="height: 20rem;"></a>
                        </a>
                        <div class="card-body  text-center p-0 pt-4 pb-3">
                            <h5 class="font-weight-semi-bold m-0">{{this.CategoryName}}</h5>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<!-- Categories End -->


<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">TRENDY PRODUCTS</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        {{#each allproducts}}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
                    onclick="location.href='/productdetails/{{this._id}}'">
                    <img class="img-fluid w-100" src="/product-images/{{this._id}}.jpg" alt="image"
                        style="height:20rem ;">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{this.Name}}</h6>
                    <div class="d-flex justify-content-center">
                        <h6>Rs.{{this.DiscountedPrice}}</h6>
                        <h6 class="text-muted ml-2"><del>Rs.{{this.Price}}</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="/productdetails/{{this._id}}" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    {{#if ../loggedIn}}
                    <button onclick="addToCart('{{this._id}}')" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</button>
                    {{else}}
                    <a href="/login" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<!-- Products End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

<script>
    const addToCart = async (id) => {
        console.log(id)
        const res = await axios.post(`/addToCart/${id}`, {
        }).then((e) => {
            console.log(e)
            if (e.data.response.inc) {
               swal('Item added to the cart', '', 'success')
            } else {
                let count = document.getElementById('cart-count').innerHTML
                count = parseInt(count) + 1
                document.getElementById('cart-count').innerHTML = count
                swal('Item added to the cart', '', 'success')

            }
        })
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>