<!-- Navbar Start -->
<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-12">
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {{#each allbanner}}
                    <div class="carousel-item{{#if @first}} active{{/if}}" style="height: 410px;">
                        <img class="img-fluid" src="product-images/{{this._id}}.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h4 class="text-light text-uppercase font-weight-medium mb-3">{{this.Heading}}</h4>
                                <h3 class="display-4 text-white font-weight-semi-bold mb-4">{{this.Description}}</h3>
                                <a href="/productdetails/{{this.Product}}" class="btn btn-light py-2 px-3">Buy Now</a> 
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                    <div class="btn btn-dark" style="width: 45px; height: 45px;">
                        <span class="carousel-control-next-icon mb-n2"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Navbar End -->


<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping Above Rs.1000 </h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->

<!-- Categories Start -->
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Categories</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                {{#each category}}
                <div class="card product-item border-0 shadow">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <a href="" class="cat-img position-relative overflow-hidden mb-3">
                            <img class="img-fluid w-100" src="product-images/{{this._id}}.jpg" alt=""
                                style="height: 20rem;">
                        </a>
                        <div class="card-body  text-center p-0 pt-4 pb-3">
                            <h5 class="font-weight-semi-bold m-0">{{this.CategoryName}}</h5>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<!-- Categories End -->


<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">TRENDY PRODUCTS</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        {{#each allproducts}}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0"
                    onclick="location.href='/productdetails/{{this._id}}'">
                    <img class="img-fluid w-100" src="/product-images/{{this._id}}.jpg" alt="image"
                        style="height:20rem ;">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{this.Name}}</h6>
                    <div class="d-flex justify-content-center">
                        <h6>Rs.{{this.Price}}</h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="/productdetails/{{this._id}}" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    {{#if ../loggedIn}}
                    <button onclick="addToCart('{{this._id}}')" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</button>
                    {{else}}
                    <a href="/login" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<!-- Products End -->

<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Just Arrived</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        {{#each allproducts}}
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <p class="text-center mt-2" id="{{this._id}}2"></p>
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <a href="/productdetails/{{this._id}}">
                    <img class="img-fluid w-100" src="/product-images/{{this._id}}.jpg" alt="" style="height:20rem ;">
                    </a>
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">{{this.Name}}</h6>
                    <div class="d-flex justify-content-center">
                        <h6 class=" ml-2">Rs.{{this.Price}}</h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="/productdetails/{{this._id}}" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-eye text-primary mr-1"></i>View
                        Details</a>

                    {{#if ../loggedIn}}
                    <button onclick="addToCart('{{this._id}}')" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</button>
                    {{else}}
                    <a href="/login" class="btn btn-sm text-dark p-0"><i
                            class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<!-- Products End -->

<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold"><span
                        class="text-primary font-weight-bold border border-white px-3 mr-1 bg-light">FUTURA</h1>
            </a>
            <p>A perfect place to spend on your Home</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>KANNUR,KERALA,INDIA</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>FuturaAdmin@gmail.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-dark mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Shop</a>
                        <a class="text-dark mb-2" href="/cartPage"><i class="fa fa-angle-right mr-2"></i>Cart</a>
                        <a class="text-dark" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control border-0 py-4" placeholder="Your Name"
                                required="required"/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                required="required"/>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="#">FUTURA</a>. All Rights Reserved
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="/img/payments.png" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

<script>
    const addToCart = async (id) => {
        console.log(id)
        const res = await axios.post(`/addToCart/${id}`, {
        }).then((e) => {
            console.log(e)
            if (e.data.response.duplicate) {
                swal('Item already added to the cart', '', 'warning')
            } else {
                let count = document.getElementById('cart-count').innerHTML
                count = parseInt(count) + 1
                document.getElementById('cart-count').innerHTML = count
                swal('Item added to the cart', '', 'success')

            }
        })
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>